@import './custom-properties.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html {
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
  font-family: 'Source Sans Pro';
  font-weight: normal;
}

h1 {
  font-family: 'Source Serif Pro', sans-serif;
  font-weight: normal;
  padding-bottom: 2em;

  @nest & a {
    color: var(--color-accent);
  }
}

.headingH1 {
  display: hidden;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}
